$color-black: #000;
$color-while: #fff;
$color-green: #16a085;
$color-role: #f3f6fd;
$color-red: #ff3366;
$color-gray: #626766;

//focus outline
button:focus,
input:focus,
textarea:focus {
    box-shadow: none !important;
    outline: none;
}

a {
    text-decoration: none;
}