@import 'base';
.footer {
    background-color: #D3D2D2;
    padding: 44px 0;
    width: 100%;
    .textFooter{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        font-feature-settings: "palt";
    }
}
